<body>
    <div>Hello <span id="name">world</span>さん!</div>
    <h1 id="displaynamefield"></h1>
    <button type="button" class="btn btn-danger" id="logout" onclick="LogoutAction();">ログアウト</button>

    <form id="send-message">
        <p>送信したいメッセージを入れてね</p>
        <input type="text" id="message" name="message" size="30" placeholder="メッセージを入力">
        <button id="send" class="btn btn-primary">送信</button>
    </form>

    </body>
    <script>
    // LIFFの初期化を行う
    liff.init({
    // 自分のLIFF ID（URLから『https://liff.line.me/』を除いた文字列）を入力する
    liffId: "1655587372-zAJqdvD8"
    
    }).then(() => { // 初期化完了. 以降はLIFF SDKの各種メソッドを利用できる
    
    // 利用者のLINEアカウントのプロフィール名を取得
    liff.getProfile().then(profile => {
    
    // プロフィール名
    const name = profile.displayName
    
    // HTMLに挿入
    document.querySelector("#name").innerText = name
    })
    })

    // シェアターゲットピッカーの設定
    var userId = "";
    document.getElementById("logout").style.display ="none";
    window.onload = function() {
      initializeLiff("1655587372-zAJqdvD8");
    };

    function initializeLiff(myLiffId) {
      liff
        .init({
          liffId: myLiffId
        })
        .then(() => {
          //LINEアプリで起動しているかどうかとログインをしているのかを判断している
          if (!liff.isInClient() && !liff.isLoggedIn()){
            window.alert("LINEアカウントにログインしてください。");
            liff.login();
          }else{
            // start to use LIFF's api
            liff.getProfile().then(function(profile) {
              document.getElementById('displaynamefield').textContent = 'ようこそ' + profile.displayName + 'さん';
              userId = profile.userId;
              if (!liff.isInClient()){
                document.getElementById("logout").style.display = "block"
              }
            }).catch(function(error) {
              window.alert('Error getting profile: ' + error);
            })
          }

        })
        .catch((err) => {
          document.getElementById('displaynamefield').textContent = err;
        });
    }
            // メッセージの送信
    $(function() {
      $('#send').click(function(e) {
        e.preventDefault();
        var val = $('#message').val();
        liff.shareTargetPicker([
          {
            type: "text",
            text: val
          }
        ])
        .then(
          alert("メッセージを送信しました")
        ).catch(function(res) {
          alert("送信に失敗しました")
        })
      });
    });
    // ログアウトの処理
    function LogoutAction(){
      liff.logout();
      window.location.reload();
    }

    </script>